@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&amp;family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap');



*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
}

body
{
    font-family: 'Roboto', sans-serif;
    color: #62646a;
    width: 100%;
}

h1,h2,h3,h4,h5,h6
{

	font: 400 16px/24px "ProximaNova","Helvetica Neue",Helvetica,Arial,sans-serif;
	color: #222325;
}

a{
	font-family: 'Lato', sans-serif;
}
header
{
	box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.12);
}
.hero-section {
    padding-top: 30px;
}

.navbar-brand {
    background: grey;
    border-radius: 50%;
    width: 50px;

    height: 50px;
    color: transparent;
}

::focus
{
	outline: none !important;
	border: none !important;
}
header ul.navbar-nav li.nav-item.active a {
color: #03A84E;
}
header ul.navbar-nav li.nav-item.button {
background: #03A84E;
border-radius:50px;
padding-left: 15px;
padding-right: 15px;
}

header ul.navbar-nav li.nav-item a {
	font-size: 15px;
	line-height: 23.44px;
	font-weight: 500;
	font-family: 'Roboto';
	color:#000;

}
.hero-section p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
	color: #03A84E;
	margin:0;
}
.hero-section h1 {
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    letter-spacing: 0em;
	margin:0;
}

.hero-section span {
    color: #03A84E;
}
.hero-form {
    display: flex;
    justify-content: center;
    box-shadow: 12px 12px 50px 0px #8A848440;
    box-shadow: -12px -12px 50px 0px #00000040;
	margin-top: 53px;
}

.hero-form .form-group {
    max-width: 28%;
    width: 28%;
    flex: 0 0 28%;
}

.hero-form .form-group input, .hero-form .form-group select, .hero-form .form-group button {
    width: 100%;
}

.hero-form .form-group {
    margin-bottom: 0;
}
.hero-form .form-group input, .hero-form .form-group select, .hero-form .form-group button {padding: 10px 10px;
height: 100%;
border: none;
border-right: 1px solid rgba(73, 73, 73, 0.4)
}

.hero-form .form-group:last-child {
    width: 15%;
    flex: 0 0 15%;
}

.hero-form button {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    background: #03A84E;
    border-radius: 12px;
	border: 5px solid #fff !important;
    color: #fff;
    margin-left: 3px;
}
section.second-section{
	padding: 100px 0;
}
.mobile-main{
	background: #F7F7FA;
}
.mobile-main-section h3
{
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: center;
padding: 20px 0;
}
.mobile-main-section .mobile-main-images {
    width: 20%;
    float: left;
}
.mobile-main-images img
{

		margin-bottom: 40px;
}
.heading {
    text-align: center;
}

.heading h3 span {
    color: #03A84E;
}

.heading h3 {
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
	margin-bottom: 0;
}

.heading h4 {
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0em;
    color: rgba(0,0,0,.6);
}
.work-inner-number h4 {
    font-family: Lato;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: center;
    color: #64646433;
}

.work-inner-number {
    position: relative;
}

.work-inner-number img {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: -10px;
    left: 55%;
}
.work-desc {
    margin-top: 50px;
}

.work-desc h3 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}
.work-number {
    text-align: center;
}.work-desc p {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0,0,0,0.6);
}
.fourth-section{
	padding: 50px 0;
	margin-top: 50px;
	background: #EEEEEE;

}
section.fourth-section h4 {
    color: #03A84E;
}
.story-inner {
    text-align: center;
    box-shadow: 10px 10px 5px 0px #2E413026;
}

.story-inner p {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    max-width: 237px;
    margin: 0 auto;
    padding-bottom: 90px;
}

.story-inner {
    position: relative;
    margin-top: 109px;
    background: #fff;
}

.story-inner img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    transform: translateY(-50%);
}
.handpicked-main .heading {
    text-align: left;
}

section.fifth-section {
    padding: 100px 0;
}

section.fifth-section .heading h3 {
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

section.fifth-section .heading h4 {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0,0,0,0.6);
}

section.fifth-section .heading button {
    height: 50px;
    width: 120px;
    left: 300px;
    border-radius: 40px;
    background: #03A84E;
    border-color: transparent;
}

section.fifth-section .heading button {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.8);
}
.handpicked-desc {
    height: 230px;
    width: 210px;
    border-radius: 10px;
}
.handpicked-desc {
    position: relative;
}
.handpicked-desc {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/141f4c69c48f6297c2a1992d81996489.jpg");
	box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.090);
}
.handpicked-desc-main {
    display: flex;
	margin-bottom: 30px;
}

.handpicked-desc-main .handpicked-desc {
    margin-right: 18px;
}

.handpicked-desc-main .handpicked-desc:last-child {
    margin-right: 0;
}
.handpicked-main .heading {
    margin-top: 60px;
}
.display-one{
	width: 170px;
    height: 200px;
    margin-top: auto;
}
.display-two
{
	width: 170px;
    height: 200px;
    margin-bottom: auto;
}
.handpicked-inner-desc {
    position: absolute;
    bottom: 0;
	padding: 0 10px;
}
.handpicked-inner-desc h2 {font-family: Lato;font-size: 20px;font-style: normal;font-weight: 800;line-height: 29px;letter-spacing: 0em;text-align: left;color: #fff;
margin-bottom: 0;
}

.handpicked-inner-desc p {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
	margin-bottom: 5px;
}

.handpicked-desc ul li {
    display: inline-block;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    width: 40%;
	color: #fff;
}

.handpicked-desc ul li:last-child {
    float: right;
}

section.sixth-section {background: rgba(3, 168, 78, 1);padding: 70px 0 50px;}

.signup-left h3 {
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    margin-bottom: 0;
}

.signup-left p {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0;
}

.signup-right button {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(37, 37, 37, 0.8);
    border-radius: 40px;
    padding: 10px 25px;
    border: 6px solid  rgba(56, 205, 124, 1);
    background: rgba(255, 255, 255, 1);
}

.signup-right {
    text-align: center;
}

header ul.navbar-nav li.nav-item.active {
    position: relative;
}

header ul.navbar-nav li.nav-item.active a:before {content: "";position: absolute;bottom: 0;width: 100%;height: 2px;left: 0;background: rgba(3, 168, 78, 1);}
li.nav-item {
    margin-right: 20px;
}

li.nav-item:last-child {margin-right: 0;}
/********* job portal ********/
.share li img {
    height: 22px;
    object-fit: contain;
	width: 40px;
}
.share ul {
    margin-bottom: 0;
}

.share ul li {
    display: inline;
}


li.nav-item img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
ul.navbar-nav {
    align-items: center;
}
li.nav-item a i {
    color: rgba(0, 0, 0, 0.6);
    font-size: 23px;
}
.input-group-prepend i {
    color: rgba(0, 0, 0, 0.6);
}

.input-group-prepend span#basic-addon1 {
    background: transparent;
    border-right: none;
	border: none;
}
.input-group-prepend input.form-control {
    border: none;
}
header form input.form-control {border: none;
background: rgba(238, 243, 248, 1);
    border-radius: 10px;
	padding: 10px 15px;
}
header .form-control:focus{
    box-shadow: none;
	background: transparent;
}
form.form-inline .input-group {
    background: rgba(238, 243, 248, 1);
    border-radius: 10px;
    border: none;
}
.job-portal
{
	padding: 100px 0;
}.job-left img {
    width: 300px;
    height: 375px;
    object-fit: cover;
    max-width: 100%;
}

.job-left-desc {}

.job-left-desc {
    text-align: center;
}

.job-left-desc h2 {
    color: rgba(3, 168, 78, 1);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    margin-top: 20px;
}

.job-left-desc h4 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: rgba(0, 0, 0, 0.6);
}

.job-left-desc h5 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0em;
    color: rgba(0,0,0,0.6);
    margin-top: 25px;
}
.job-left {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 0px rgb(138 132 132 / 25%);
    box-shadow: 0 0px 50px 0px rgb(0 0 1 / 25%);
}
section.job-portal .heading {
    margin-bottom: 50px;
}
.job-left-desc h6 {
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
   color: rgba(0, 0, 0, 0.6);

}
.job-left-desc {
    padding-bottom: 100px;
}
.job-right-jobs {
    background: #fff;
    box-shadow: 5px 5px 25px 0px rgba(0, 0, 0, 0.15);
    padding: 30px;
    border-radius:7px;
        margin-bottom: 30px;
}

.job-right-jobs img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.jobs-main h5 {font-family: Roboto;font-size: 24px;font-style: normal;font-weight: 500;line-height: 28px;letter-spacing: 0em;text-align: left;}

.jobs-main .text-jobs p {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.jobs-main p {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}

.job-right-jobs p {
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0,0,0);
}

.job-right-jobs p.see-more {
    color: rgba(3, 168, 78, 1);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.share {position: relative;}

.share:before {content: "";position: absolute;top: 0;left: -20px;background: rgba(73, 73, 73, 0.29);height: 2px;width: calc(100% + 40px);}
.share i {color: rgba(3, 168, 78, 1);font-size: 20px;}

.share p {
    color: rgba(3, 168, 78, 1);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.share ul li span {
    width: 15px;
    height: 14px;
    display: inline-block;
    border-top: 12px solid rgba(3, 168, 78, 1);
    border-right: 9px solid rgba(3, 168, 78, 1);
    border-left: 10px solid rgba(3, 168, 78, 1);
    border-bottom: 9px solid transparent;
    border-radius: 3px;
}
.share ul li {
    display: inline-block;
    width: 10%;
}

.share {
    padding-top: 15px;
}

.share ul li i {
    font-size: 24px;
}

.share ul li {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
}

.share {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.share ul li {
    font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
text-align: center;

}

.share ul li i{
    margin-right: 15px;
}
.share ul {
    max-width: 100%;
    width: 100%;
}
.jobs-main {
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    flex: 0 0 85%;
}

.job-right-jobs-image {
    display: flex;
    max-width: 100%;
    flex: 0 0 100%;
}

.job-right-jobs-image img {
    margin-right: 30px;
}
.job-right-jobs p.job-para {
    margin-top: 22px;
}
.jobs-main p {
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}
/*********** saved job**********/
.saved-job.job-right .text-jobs p {font-family: Roboto;font-size: 18px;font-style: normal;font-weight: 400;line-height: 21px;letter-spacing: 0em;text-align: left;color: rgba(0, 0, 0, 1);}
.saved-job.job-right .job-right-jobs p.job-para {font-family: Roboto;font-size: 16px;font-style: normal;font-weight: 400;line-height: 21px;letter-spacing: 0em;text-align: left;max-width: 410px;
margin-top: 10px;
}
.saved-job.job-right .jobs-main p.min {
    width: 50px;
    height: 50px;
    background: rgba(196, 196, 196, 1);
}
.saved-job.job-right .job-right-jobs-image .jobs-main {
    max-width: 100%;
    flex: 0 0 100%;
}
.share-apply ul li.apply-btn a {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    background: rgba(3, 168, 78, 1);
    display: inline-block;
    padding: 12px 40px;
    border-radius: 7px;
}

.share-apply ul {
    display: flex;
    justify-content: space-between;
}
.share-apply ul li {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
}

.share-apply ul li span {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.75);
}
.share-apply {
    margin-top: 40px;
}
.saved-job.job-right {
    box-shadow: 12px 12px 50px 0px rgba(138, 132, 132, 0.25);
    box-shadow: -12px -12px 50px 0px rgba(0, 0, 0, 0.25);
}
.heading h2 {
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
}

.heading h2 span {
    color: rgba(3, 168, 78, 1);
}
.job-right-jobs-image span.image {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 20px;
    background: rgba(196, 196, 196, 1);
}
.jobs-main p span {
    display: block;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
	margin-right: 20px;
}
.job-right.developer p.min {
    font-size: 12px;
}
.job-right.developer h3 {
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(3, 168, 78, 1);
    margin-top: 50px;
}
.job-right-jobs ul li {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: underline;
    padding-bottom: 10px
}
.job-right-jobs ul li:first-child {
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.job-right.developer ul li {
    max-width: 300px;
}

.job-right.developer ul li span {
    float: right;
}
.main-subscribe-inner-text {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    width: 90%;
}

.subscribe-inner-text {
    display: flex;
    align-items: center;
}
.subscribe-inner {
    margin-bottom: 20px;
}

.subscribe-inner:last-child {
    margin-bottom: 0;
}


.subscribe-inner-text > img {
    margin-right: 20px;
}
.main-subscribe-inner-text-desc h2 {
    font-weight: bold;
    font-size: 21px;
}

.main-subscribe-inner-text-desc h4 {
    font-weight: 600;
}

.main-subscribe-inner-text p span {
    width: 20px;
    height: 20px;
    background: grey;
    border-radius: 50%;
    display: inline-block;
}
.main-subscribe-inner-text-desc-right {
    display: flex;
}
.main-subscribe-inner-text-desc-right p {
    margin-right: 18px;
}
.main-subscribe-inner-text-desc-right p {
    font-weight: bold;
}
.main-subscribe-inner-text-desc-right p {color: rgba(3, 168, 78, 1);}
.subscribe {
    filter: blur(10px);
    position: relative;
}
.subscribed-text {
    position: relative;
}

.subscribed-text p.subscribed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(3, 168, 78, 1);
    max-width: 250px;
}

.subscribed-text .subscribe {
    margin-top: 30px;
}
li.nav-item.bell-icon a img {
    height: 22px;
    object-fit: contain;
    width: 22px;
}
nav.navbar button {
    border-radius: 7px;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    border-color: transparent;
    margin-left: -101px;
    z-index: 11;
    width: 96px;
    height: 38px;
    top: 3px;
    position: relative;
    background: rgba(3, 168, 78, 1);
}

nav.navbar form.new-form input {
    background: #fff;

}
form.form-inline.new-form .input-group {
    background: #fff;
	width: 300px;
	max-width: 300px;
	    box-shadow: 12px 12px 50px 0px rgba(138, 132, 132, 0.25),
					-12px -12px 50px 0px rgba(0, 0, 0, 0.25);
}
nav form.new-form .input-group-prepend span#basic-addon1{
	background: #fff;

}
.job-posted ul li a {//
    styleName: H#;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 1);
}

.job-posted ul li{
    margin-right: 40px;
}
.job-posted ul li:last-child{
    margin-right: 0;
}

.job-posted .tab-content .in.active {
    opacity: 1;
}
.job-posted ul.nav.nav-tabs {
    border: none;
	margin-bottom: 40px;
}
.table-main table thead th {font-family: Roboto;font-size: 18px;font-style: normal;font-weight: 400;line-height: 21px;letter-spacing: 0em;text-align: left;}

.table-main table thead {background: rgba(242, 242, 242, 1);height: 70px;}
.table-main table th, .table-main table td
{
	border-collapse: collapse;
}
.table-main table th:first-child, .table-main table tr td:first-child
{
	padding-left: 25px;
}
.table-main table tr td{
	border-top: 1px solid rgba(196, 196, 196, 1);
	padding: 20px 0;
}
.table-main table td {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(0, 0, 0, 0.8);
}

.table-main table tr td:first-child, .table-main table tr td:last-child {
    color: rgba(3, 168, 78, 1);
}

.table-main table tr td:last-child {
    font-size: 35px;
}
.table-main table {
    box-shadow: 12px 12px 50px 0px rgba(138, 132, 132, 0.25);
    box-shadow: -12px -12px 50px 0px rgba(0, 0, 0, 0.25);
	border-radius: 10px 10px 0 0;
}
.table-main table td input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.table-main table td{
	position: relative;

}
/***************/
input[type="checkbox"] {width: 25px;height: 25px;position: absolute;z-index: 99999;opacity: 0;}
input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
input[type="checkbox"] + label:last-child { margin-bottom: 0; }
input[type="checkbox"]:checked + label:after {
    content: "";
    border: 1px solid rgba(3, 168, 78, 1);
    position: absolute;
    width: 22px;
    height: 22px;
    left: -3px;
    top: -3px;
}
input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(3, 168, 78, 1);
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 7px;
  height: 15px;
  top: -2px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.job-posted ul li a {
    position: relative;
}

.job-posted ul li.active a:before {content: "";position: absolute;bottom: -5px;left: 0;width: 100%;height: 2px;
background: rgba(3, 168, 78, 1);}
.job-posted ul li a:hover {
    text-decoration: none;
}

@media (max-width: 991px){
	.hero-section {
    padding-top: 30px;
}

	header ul.navbar-nav li.nav-item.active,
header ul.navbar-nav li.nav-item.button
 {
    width: auto;
    display: block;
    margin-right: auto;
}

	button.navbar-toggler {border: 1px solid green;
		height: 40px;
	}
button.navbar-toggler span.navbar-toggler-icon {height: 2px;background: green;position: relative;}

button.navbar-toggler span.navbar-toggler-icon:before {content: "";height: 2px;background: rgba(3, 168, 78, 1);
display: inline-block;width: 30px;margin-top: 0;top: -10px;position: absolute;left: 0;}
button.navbar-toggler span.navbar-toggler-icon:after {content: "";height: 2px;background: rgba(3, 168, 78, 1);display: inline-block;width: 30px;margin-top: 0;position: absolute;bottom: -10px;left: 0;}

}


@media (max-width: 767px){
	.table-main {
    width: 100%;
    overflow-x: auto;
}
.table-main table th:first-child, .table-main table tr td:first-child {
    padding-left: 15px;
}

    .job-right.developer ul li span {
        float: none;
    }
    .job-right.developer .jobs-main {
        max-width: 100%;
        flex: 0 0 100%;
        flex-wrap: wrap;
    }
    .job-right.developer .job-right-jobs-image span.image {
        margin-bottom: 20px;
    }
    .job-right.developer .jobs-main p {
        max-width: 100%;
        flex: 0 0 100%;
        text-align: left;
    }
    .subscribed-text p.subscribed {
        max-width: 100%;
        font-size: 25px;
    }
    .main-subscribe-inner-text, .subscribe-inner-text {
        flex-wrap: wrap;
    }.subscribe-inner-text > img {
        margin-right: 0;
        margin-bottom: 20px;
    }




	.share ul li {
    width: 32%;
    text-align: center;
}

.share ul li:first-child {
    text-align: left;
}

.share p {
    margin-top: 20px;
}
.share ul {
    max-width: 70%;
    width: 60%;
}
	.hero-section p{
		text-align: center;
	}

	.hero-section h1 {
    text-align: center;
	line-height: 42px;
}

	button.navbar-toggler {border: 1px solid green;
		height: 40px;
	}
button.navbar-toggler span.navbar-toggler-icon {height: 2px;background: green;position: relative;}

button.navbar-toggler span.navbar-toggler-icon:before {content: "";height: 2px;background: rgba(3, 168, 78, 1);
display: inline-block;width: 30px;margin-top: 0;top: -10px;position: absolute;left: 0;}
button.navbar-toggler span.navbar-toggler-icon:after {content: "";height: 2px;background: rgba(3, 168, 78, 1);display: inline-block;width: 30px;margin-top: 0;position: absolute;bottom: -10px;left: 0;}
.hero-form .form-group {
    max-width: 100%;
    width: 100%;
    flex: 0 0 100%;
}
.hero-form
{
		flex-wrap: wrap;
}
.hero-form .form-group:last-child {
    width: 100%;
    flex: 0 0 100%;
}
.hero-form .form-group input, .hero-form .form-group select, .hero-form .form-group button {
    border-bottom: 1px solid rgba(73, 73, 73, 0.4);
}
.mobile-main-section .mobile-main-images {
    width: 100%;
}
section.second-section {
    padding: 50px 0;
}
.story-inner p {
    padding-bottom: 50px;
}
	.story-inner {
    margin-top: 70px;
}
.handpicked-desc-main {
    flex-wrap: wrap;
}.handpicked-desc-main .handpicked-desc {
    margin-right: 0;
}
.handpicked-desc {
    height: 200px;
    width: 400px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto !important;
}
.handpicked-desc {
    margin-top: 20px;
}
.handpicked-desc-main .handpicked-desc.display-two:first-child {
    margin-top: 0;
}
section.fifth-section {
    padding: 50px 0 0;
}
.handpicked-main .heading {
    margin-top: 40px;
}
section.sixth-section {
    padding: 50px 0 50px;
    margin-top: 50px;
}
.signup-right {
    margin-top: 20px;
}
.handpicked-main .heading, section.fifth-section .heading h3, section.fifth-section .heading h4,
.signup-left h3, .signup-left p
 {
    text-align: center;
}
header ul.navbar-nav li.nav-item.active,
header ul.navbar-nav li.nav-item.button
 {
    width: auto;
    display: block;
    margin-right: auto;
}
header li.nav-item.button a {
    padding-left: 20px;
    padding-right: 20px;
}
nav.navbar.navbar-expand-lg {
    padding-left: 0;
    padding-right: 0;
}

.hero-form .form-group button{
	margin-left:0;
	margin-right:0;

}
.hero-section {
    padding-top: 30px;
}
.job-left {
    margin-bottom: 20px;
}
.job-right-jobs-image {
    flex-wrap: wrap;
}
.job-right .job-right-jobs-image img {
    margin-bottom: 20px;
}



}


@media (max-width: 469px){
	.hero-section h1 {
    text-align: center
}
.story-inner p
{
	max-width: 400px;
}
section.fifth-section .heading h3 {
    font-size: 25px;
}
.signup-left h3 {
    font-size: 25px;
    line-height: 39px;
}
.signup-left p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
}
.share-apply ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.share-apply ul li {
    max-width: 100%;
    flex: 0 0 100%;
    text-align: left;
}
.share-apply ul li {
    margin-top: 20px;
}

.share-apply ul li:first-child {
    margin-top: 0;
}

.share-apply ul li span {
    text-align: left;
}

.saved-job.job-right .job-right-jobs p.job-para {
    max-width: 100%;
    flex: 0 0 100%;
}
.jobs-main {
    max-width: 100%;
    flex: 0 0 100%;
}
.jobs-main p
{
	max-width: 40%;
    flex: 0 0 40%;
	text-align: right;
}
.share {
    flex-wrap: wrap;
}

.share ul li i {
    margin-bottom: 10px;
}
.share ul li {
    width: 100%;
    text-align: left;
    max-width: 100%;
}
.share p {
    max-width: 100%;
    flex: 0 0 100%;
}

.share ul li {
    margin-top: 20px;
}

.share ul li:first-child {
    margin-top: 0;
}


}